body {
    background-color: rgb(255, 255, 255);
}
.output {
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    color: rgb(0, 0, 0);
}
.output h1 {
    font-size: 70px;
}

.output p {
    font-size: 50px;
}

/* Cursor Styling */
.cursor::after {
    content: '';
    display: inline-block;
    margin-left: 3px;
    background-color: rgb(0, 0, 0);
    animation-name: blink;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}
h1.cursor::after {
    height: 24px;
    width: 13px;
}

p.cursor::after {
    height: 13px;
    width: 6px;
}

@keyframes blink {
    0% {opacity: 1;}
    49% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 0;}
}
