* {
    font-family: "Lato 400", sans-serif;
}
html, body {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    background-color: #384052;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}
.navigation-tab {
    height: 120px;
    width: 95%;
    background-color: #fff;
    box-shadow: 0 50px 30px 0 rgba(0, 0, 0, 0.175);
    border-radius: 20px;
    overflow: hidden;
    border: 15px solid #fff;
    display: flex;
    position: relative;
    flex-shrink: 0;
}
.navigation-tab-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 195px;
    flex-shrink: 0;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    z-index: 2;
}
.navigation-tab-item.active {
    width: 210px;
}
.navigation-tab-item.active .navigation-tab__icon {
    transform: translate(0px, -10px);
}
.navigation-tab-item.active .navigation-tab__txt {
    opacity: 1;
    transform: translate(0, 10px);
}
.navigation-tab-overlay {
    border-radius: 20px;
    background-color: #bce0fd;
    height: 100%;
    width: 210px;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.3s;
}
.navigation-tab__icon {
    display: block;
    color: #000;
    transition-duration: 0.3s;
    line-height: 1;
    transform: translate(0, 11px);
}
.navigation-tab__txt {
    display: block;
    font-weight: 400;
    font-size: 20px;
    color: #000;
    opacity: 0.4;
    transition-duration: 0.3s;
    transform: translate(0, 20px);
    user-select: none;
}
